@media only screen and (min-width: 768px) {
  /* Estilos para tablet */
  #navbar {
    width: 80%;
  }
}

@media only screen and (min-width: 1024px) {
  /* Estilos para PC escritorio */
  #navbar {
    width: 70%;
  }
}

@media only screen and (min-width: 320px) {
  /* Estilos para celular */
  #navbar {
    width: 100%;
    padding: 0.625rem;
  }
}

/* Estilos del Header */
header {
    padding: 0;
    background-color: #f8f9fa;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 1000; /* Asegura que el header esté sobre el carrusel */
  }

  .logo {
    max-height: 100px; /* Ajusta la altura máxima del logo */
    max-width: 400px;
    width: auto; /* Mantiene la relación de aspecto */
    padding: 0;
  }

  .logo2{
    padding: 0;
    animation: rotar 5s linear infinite;
  }

  .logo2:hover{
    cursor: pointer;
  }

  @keyframes rotar{
    from{
      transform: rotateY(180deg);
    }
    to{
      transform: rotateY(-180deg);
    }
  }

  .navbar-toggler {
    border: none;
  }

  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%28155, 155, 155, 1%29' stroke-width='2' linecap='round' linejoin='round' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  }

  .navbar-nav .nav-link {
    font-size: 18px;
    color: #333;
    display: flex;
    align-items: center;
    padding: 10px;
    text-decoration: none;
  }

  .navbar-nav .nav-link:hover {
    color: #007bff;
  }

  /* Ajustar los iconos para que tengan el mismo tamaño */
  .navbar-nav .nav-link i {
    font-size: 24px; /* Tamaño uniforme para los iconos */
    margin-right: 0; /* Remover margen derecho si no es necesario */
  }

  /* Alinear los elementos del nav correctamente */
  .navbar-nav {
    display: flex;
    align-items: center;
  }

  /* Ajustar el tamaño del contenedor de iconos */
  .nav-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px; /* Ajustar según sea necesario */
    height: 50px; /* Ajustar según sea necesario */
  }

  /* Añadir un margen superior al carrusel para evitar que el header lo cubra */
  .carousel-container {
    margin-top: 100px; /* Ajusta este valor según la altura del header */
  }

    