*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  .form {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    h1{
      text-align: center;
      padding: 0.8em 0em 0.8em;
    }

    .form-group{
      padding-bottom: 1em;
    }

    a{
      text-align: center;
    }

    p{
      padding-right: 0.5em;
    }

    .group-register{
      display: flex;
      flex-direction: row;
      align-items: baseline;
      justify-content: center;
      padding-top: 1.5em;
    }
  