*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

main{
  background: rgb(174,238,222);
  background: radial-gradient(circle, rgba(174,238,222,1) 52%, rgba(32,79,224,1) 100%);
  padding-bottom: 50px;
}

form {
    max-width: 400px;
    margin: auto auto 40px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }

  h1 {
    text-align: center;
    margin-bottom: 20px;
    padding: 50px 0px 20px;
  }

  h2{
    text-align: center;
    font-weight: bold;
    padding: 15px 0px;
  }

  h4 {
    padding: 15px 0px;
    text-align: center;
    font-weight: bold;
  }

  .form-group select{
  color: rgb(109, 109, 109);
  padding-right: 3em;
  }

  .form-group{
    margin-bottom: 20px;
  }

  .form-group label {
    font-weight: bold;
  }

  .form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .group{
    display: flex;
    flex-direction: row;
    align-items:baseline;
    justify-content: center;
    padding: 2em;
  }

  .group-login{
    display: flex;
    flex-direction: row;
    align-items:baseline;
    justify-content: center;
    padding: 15px;
  }

  p{
    padding-right: 0.5em;
  }

  .check {
    font-weight: normal;
  }
  
  .link {
    display: block;
    text-align: center;
    margin-top: 10px;
    text-decoration: none;
    color: #007bff;
  }
  
  .group-register {
    margin-top: 20px;
    text-align: center;
  }
  
  .group-register p {
    margin-bottom: 10px;
  }
  
  .group-register a {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
  }

  #close2{
    display: block;
    margin: 25px auto;
  }

  .modal-container2
  {
    display: flex;
    background-color: #27527575;
    align-items: center;
    justify-content: center;
    position: fixed;
    pointer-events: none;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    opacity: 0;
  }

  .show2{
    pointer-events: auto;
    opacity: 1;
  }

  .modale2{
    background-color: #ffffff;
    height: 900px;
    max-height: 90% ;
    width: 600px;
    max-width: 100%;
    padding: 30px;
    border-radius: 8px ;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }

  #open2{
    background-color: #fffdfd00;
    color: #1c6bbe;
    text-decoration: #1c6bbe underline;
    border: 0;
  }

  .warnings{
    width:100%;
    text-align: center;
    margin: auto;
    color: crimson;
    padding-top: 10px;
  }